@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --color-text-primary: #ffffff;
    --color-text-disabled: #d3d3d3;
    --color-grid-main: #f5f3f4;
    --color-background-primary: #134074;
    --color-border-main: #f5f3f4;
    --color-active-main: #CC2936;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
    background-color: var(--color-background-primary);
}

main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    justify-content: space-between;
}

button {
    font: inherit;
    font-size: 32px;
    font-weight: 400;
    padding: 8px 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 
                0 12px 40px rgba(0, 0, 0, 0.2);
    background-color: var(--color-background-primary);
    border-radius: 5px;
    border: none;
    color: var(--color-text-primary);
}

button:hover {
    transform: scale(1.05);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
