.controls-container {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.color-picker {
  display: flex;
  justify-content: center;
}

/* Grid  */
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grid {
  width: 800px;
  height: 800px;
  background-color: var(--color-text-primary);
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  border: .1px solid var(--color-border-main);
}








