.controls-container {
  display: flex;
  align-items: center;
}

/* Colors Control */

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary-main);
}

.grid {
  width: 800px;
  height: 800px;
  background-color: var(--color-text-primary);
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  border: .1px solid var(--color-border-main);
}








